<!DOCTYPE html>
<html ng-app="showfieApp">
  <head>
    <title></title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/custom.css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div ui-view>
    </div>
    <!-- lib -->
    <!-- masonry -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/jquery-bridget/jquery.bridget.js"></script>
    <script src="lib/get-style-property/get-style-property.js"></script>
    <script src="lib/get-size/get-size.js"></script>
    <script src="lib/eventEmitter/EventEmitter.js"></script>
    <script src="lib/eventie/eventie.js"></script>
    <script src="lib/doc-ready/doc-ready.js"></script>
    <script src="lib/matches-selector/matches-selector.js"></script>
    <script src="lib/outlayer/item.js"></script>
    <script src="lib/outlayer/outlayer.js"></script>
    <script src="lib/masonry/masonry.js"></script>
    <script src="lib/imagesloaded/imagesloaded.js"></script>

    <!-- end masonry -->

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/ui-router/release/angular-ui-router.min.js"></script>

    <script src="lib/ng-file-upload/angular-file-upload-shim.js"></script>
    <script src="lib/ng-file-upload/angular-file-upload.js"></script>

    <script src="lib/angular-masonry/angular-masonry.js"></script>
    <!-- end lib -->

    <!-- my module -->
    <script src="js/custom-module/ng-cool-noti.js"></script>
    <script src="js/custom-module/ng-cool-video.js"></script>
    <!-- end custom -->

    <!-- custom js -->
    <script src="js/app.js"></script>
    <script src="js/services/user.service.js"></script>
    <script src="js/services/feed.service.js"></script>
    <script src="js/directives/directives.js"></script>
    <script src="js/controllers/welcome.ctrl.js"></script>
    <script src="js/controllers/auth.ctrl.js"></script>
    <script src="js/controllers/home.ctrl.js"></script>
    <script src="js/controllers/user.ctrl.js"></script>
    <!-- end custom -->
  </body>
</html>
