<div ng-controller="FeedCtrl as ctrl" class="main">
  <div ng-include="'template/partials/navbar.html'"></div>
  <div class="main-content">
    <div class="main-content-inner">
      <div class="main-container">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div ng-include="'template/partials/side-bar-left.html'"></div>
            </div>
            <div class="col-md-7">
              <div class="sf-feed">
                <div class="sf-feed-inner">
                  <div class="feed-top">
                    <div class="user-avatar">
                      <img ng-src="{{ctrl.feed.creator.avatar}}" class="img-circle" sf-user-card-popover user="ctrl.feed.creator" current-user="ctrl.current_user">
                    </div>
                    <div class="user-other">
                      <div class="user-name">
                        <a class="user-name-link" ui-sref="user({name: ctrl.feed.creator.name})">{{ctrl.feed.creator.name}}</a>
                        <div sf-feed-action-more feed="ctrl.feed" current-user="ctrl.current_user" class="pull-right"></div>
                      </div>
                      <div class="feed-time-location">
                        <span class="time" ng-cool-tooltip="{{ctrl.feed.createdAt | date: 'yyyy-MM-dd HH:mm'}}">
                          Shared on - {{ctrl.feed.createdAt | sinceTime}}
                        </span>
                        <span class="location">
                          <i class="ti-location-pin"></i>
                          {{ctrl.feed.location}}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="feed-content">
                    <div class="feed-text-words" ng-if="ctrl.feed.content">
                      <div ng-bind-html="ctrl.feed.content"></div>
                    </div>

                    <div class="feed-images" ng-if="ctrl.feed.category =='image'">
                      <div class="feed-image-container" ng-repeat="image in ctrl.feed.attach_files">
                        <img ng-src="{{image.url}}" alt="" class="img-responsive" width="100%"
                        sf-feed-detail-show current-user="ctrl.current_user" users-at="ctrl.usersAt" feed-id="ctrl.feed._id" current-image-index="{{$index}}">
                      </div>
                    </div>

                    <div class="feed-video-container" ng-if="ctrl.feed.category == 'video'">
                      <ng-cool-video source="ctrl.feed.source"></ng-cool-video>
                    </div>

                    <div class="feed-audio-container" ng-if="ctrl.feed.category == 'audio'">
                      <ng-cool-audio source="ctrl.feed.source"></ng-cool-audio>
                    </div>
                  </div>

                  <div class="feed-tags" ng-if="feed.tags && feed.tags.length> 0">
                    <a class="tag-item" ng-repeat="tag in ctrl.feed.tags">{{tag.text}}</a>
                  </div>
                  <div sf-feed-action feed="ctrl.feed" current-user="ctrl.current_user"></div>
                  <div class="feed-comments">
                    <div class="comments-more" ng-if="ctrl.feed.comments.length>3">
                      <a href="">More Comments</a>
                    </div>
                    <div class="feed-comment-item" ng-repeat="comment in ctrl.feed.comments">
                      <div class="comment-user-avatar">
                        <a ui-sref="user({name: comment.creator.name})">
                          <img ng-src="{{comment.creator.avatar}}" alt="" class="img-rounded">
                        </a>
                      </div>
                      <div class="comment-content">
                        <div class="top">
                          <a class="comment-user-name" ui-sref="user({name: comment.creator.name})">{{comment.creator.name}}</a><span class="comment-time">{{comment.createdAt | sinceTime}}</span>
                        </div>
                        <div class="comment-words" ng-bind-html="comment.content">
                        </div>
                      </div>
                    </div>
                  <div class="feed-add-comment-wrap" sf-feed-add-comment feed="ctrl.feed" users-at="ctrl.usersAt"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
