<div class="full-page forget-page jumbotron" ng-controller="SignupCtrl as signCtrl">
  <div class="sf-overlay"></div>
  <div class="auth-content">
    <div class="header">
      <h1>Welcome to Friendfies.</h1>
      <div class="subtitle">
        Forgot your password? Don't worry!
      </div>
    </div>
    <div class="form-wrap">
      <div class="form-content">
        <form novalidate name="forgetForm" ng-submit="forgetPass(user)">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <button class="btn-primary btn btn-block" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
