<div ng-controller="HomeCtrl as ctrl" class="main">
  <div ng-include="'template/partials/navbar.html'"></div>
  <div class="main-content">
    <div class="main-content-inner">
      <div class="container">
        <div class="col-md-3">
          <div ng-include="'template/partials/side-bar-left.html'"></div>
        </div>
        <div class="col-md-6">
          <div ng-include="'template/partials/create-bar.html'"></div>
          <div ng-include="'template/partials/feed.html'"></div>
        </div>
        <div class="col-md-3">
          <div ng-include="'template/partials/side-bar-right.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
