<div class="full-page login-page jumbotron" ng-controller="LoginCtrl as loginCtrl">
  <div class="sf-overlay"></div>
  <div class="auth-content">
    <div class="header">
      <h1>Welcome to Friendfies.</h1>
      <div class="subtitle">
        Connect with your friends — and other fascinating people. Get in-the-moment
        updates on the things that interest you. And watch events unfold, in real time, from every angle.
      </div>
    </div>
    <div class="form-wrap">
      <div class="form-content">
        <form novalidate name="loginForm" ng-submit="loginCtrl.login(user)">
          <div class="sf-form-group">
            <input type="email" class="sf-form-control" placeholder="Email"
            ng-model="user.email" required>
          </div>
          <div class="sf-form-group">
            <input type="password" class="sf-form-control" placeholder="Password"
            ng-model="user.password" required>
          </div>
          <p class="forget-pass">
            <a ui-sref="forgetpass">Forget Password?</a>
          </p>
          <button class="sf-btn-success sf-btn sf-btn-block" type="submit" ng-disabled="loginForm.$invalid">Login</button>
        </form>
        <div class="auth-divider">
          Login with social accounts below
        </div>
        <ul class="list-inline third-auth-list">
          <li class="third-auth-item facebook">
            <a href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li class="third-auth-item twitter">
            <a href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li class="third-auth-item google">
            <a href=""><i class="fa fa-google-plus"></i></a>
          </li>
        </ul>
        <div class="no-account-tip">
          Don’t have an account? <a ui-sref="signup">Sign up free now</a>
        </div>
      </div>
    </div>
  </div>
</div>
