<div ng-controller="UserCtrl as ctrl" class="user-page">
  <div ng-include="'template/partials/navbar.html'"></div>
  <div class="main-content">
    <div class="top-wrap">
      <div class="sf-banner">
        <div class="sf-banner-blur"></div>
      </div>

      <div class="user-info">
        <ul class="list-inline user-info-list">
          <li class="info-item">
            <a href="">
              <div class="info-item-title">Posts</div>
              <div class="info-item-count">123</div>
          </a>
          </li>
          <li class="info-item">
            <a href="">
              <div class="info-item-title">Followers</div>
              <div class="info-item-count">123</div>
            </a>
          </li>
          <li class="info-item">
            <a href="">
              <div class="info-item-title">Followees</div>
              <div class="info-item-count">123</div>
            </a>
          </li>
        </ul>
        <button class="sf-btn sf-btn-teal sf-btn-small sf-follow-btn">Follow</button>
      </div>

    </div>
    <div class="user-page-content">
      <div class="container">
        <div class="col-md-3">
          <div class="user-profile-wrap">
            <div class="avatar-wrap">
              <img src="images/avatar-default.png" alt="Avatar" class="img-responsive img-circle">
            </div>
            <div class="gender-location">
              <i class="fa fa-user"></i><span>Male</span>
              <i class="fa fa-map-marker"></i><span>Shanghai</span>
            </div>
            <div class="profile-wrap">
              I started learning Swift 4 months ago and I knew some coding before that.
              But I have never created a native app for any platform.
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="images/auth-form-bg.jpg" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="images/auth-form-bg.jpg" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="images/auth-form-bg.jpg" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="images/auth-form-bg.jpg" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="images/auth-form-bg.jpg" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
