<div class="full-page welcome jumbotron">
  <div class="overlay"></div>
  <div class="content">
    <h1>Show your talent, Amaze the world</h1>
    <p>It was invented in New Zealand and is popular with British hipsters,
      hence its metonymic use to describe the creative and
      technology cluster in Shoreditch, East London. Don’t worry,
      you’ll catch up in a couple of years.</p>
    <p>
      <a class="btn btn-primary" ui-sref="signup" role="button">Join now</a>
    </p>
  </div>
</div>
