<div class="create-bar">
  <div class="create-bar-inner">
    <div class="user-wrap">
      <img ng-src="{{homeCtrl.current_user.avatar}}" alt="Avatar" class="im-responsive img-circle">
    </div>
    <div class="share-content">
      <div class="share-words">
        <textarea id="word" class="sf-textarea"></textarea>
      </div>
      <ul class="list-inline share-action-list">
        <li class="create-list-item">
          <a ng-file-select ng-model="photos" ng-multiple="true" accept="image/*" sf-photo-upload>
            <i class="fa fa-camera"></i>
            <span>Photo</span>
          </a>
        </li>
        <li class="create-list-item">
          <a ng-file-select ng-model="videos" accept="video/*" sf-video-upload>
            <i class="fa fa-video-camera"></i>
            <span>Video</span>
          </a>
        </li>
        <li class="create-list-item">
          <a ng-file-select ng-model="audios" accept="audio/*" sf-audio-upload>
            <i class="fa fa-headphones"></i>
            <span>Audio</span>
          </a>
        </li>
        <li class="create-list-item">
          <a href="">
            <i class="fa fa-map-marker"></i>
            <span>Location</span>
          </a>
        </li>
        <button class="sf-btn sf-btn-success sf-btn-small pull-right">Share</button>
      </ul>
    </div>
  </div>
</div>
