<div class="sf-feed" ng-repeat="feed in ctrl.feeds">
  <div class="sf-feed-inner">
    <div class="feed-top">
      <div class="user-avatar">
        <img ng-src="{{feed.creator.avatar}}" class="sf-img-circle feed-avatar">
      </div>
      <div class="user-other">
        <div class="user-name">
          <a ui-sref="user({name: feed.creator.name})">{{feed.creator.name}}</a>
        </div>
        <div class="feed-time-location">
          <span class="time" ng-cool-tooltip="{{feed.createdAt | date: 'yyyy-MM-dd HH:mm'}}">
            Shared on - {{feed.createdAt | sinceTime}}
          </span>
          <span class="location">
            <i class="ti-location-pin"></i>
            New York
          </span>
        </div>
      </div>
    </div>

    <div class="feed-content">
      <div class="feed-text-words" ng-if="feed.content">
        <div ng-bind-html="feed.content"></div>
      </div>

      <div class="feed-images" ng-if="feed.category =='image'">
        <div class="feed-image-container" ng-repeat="image in feed.attach_files">
          <img ng-src="{{image.url}}" alt="" class="img-responsive" width="100%"
          sf-feed-detail-show feed-id="feed._id" current-image-index="{{$index}}">
        </div>
      </div>

      <div class="feed-video-container" ng-if="feed.category == 'video'">
        <ng-cool-video source="feed.source"></ng-cool-video>
      </div>

      <div class="feed-audio-container" ng-if="feed.category == 'audio'">
        <ng-cool-audio source="feed.source"></ng-cool-audio>
      </div>
    </div>

    <div class="feed-tags">
      <a class="tag-item" ng-repeat="tag in feed.tags">{{tag.text}}</a>
    </div>

    <div class="feed-actions">
      <a ng-click="toggleLike(feed)" class="toggle-like-link">
        <svg ng-show="!feed.isLike" width="24px" height="23px" viewBox="0 0 24 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="detail" sketch:type="MSArtboardGroup" transform="translate(-617.000000, -373.000000)" fill="#CCCCCC">
                <path d="M629,395.488889 L627.32,393.777778 C621.08,388.155556 617,384.366667 617,379.722222 C617,375.933333 619.88,373 623.6,373 C625.64,373 627.68,373.977778 629,375.566667 C630.32,373.977778 632.36,373 634.4,373 C638.12,373 641,375.933333 641,379.722222 C641,384.366667 636.92,388.155556 630.68,393.777778 L629,395.488889 L629,395.488889 Z" id="Shape" sketch:type="MSShapeGroup"></path>
            </g>
          </g>
        </svg>
        <svg ng-show="feed.isLike" width="24px" height="23px" viewBox="0 0 24 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="detail" sketch:type="MSArtboardGroup" transform="translate(-617.000000, -373.000000)" fill="#FF5252">
                <path d="M629,395.488889 L627.32,393.777778 C621.08,388.155556 617,384.366667 617,379.722222 C617,375.933333 619.88,373 623.6,373 C625.64,373 627.68,373.977778 629,375.566667 C630.32,373.977778 632.36,373 634.4,373 C638.12,373 641,375.933333 641,379.722222 C641,384.366667 636.92,388.155556 630.68,393.777778 L629,395.488889 L629,395.488889 Z" id="Shape" sketch:type="MSShapeGroup"></path>
            </g>
          </g>
        </svg>
      </a>
      <div class="feed-like-tip" ng-if="feed.likes.length > 0">
        <div class="feed-like-tip-inner" ng-if="feed.likes.length == 1">
          <a ui-sref="user({name: feed.likes[0].name})">{{feed.likes[0].name}}</a> liked this
        </div>
        <div class="feed-like-tip-inner" ng-if="feed.likes.length > 1 && feed.likes.length <= 3">
          <a ng-repeat="liker in feed.likes" ui-sref="user({name: liker.name})">{{liker.name}}<span>, </span></a>
          liked this
        </div>
        <div class="feed-like-tip-inner" ng-if="feed.likes.length > 3">
          <a ng-repeat="liker in feed.likes" ui-sref="user({name: liker.name})">{{liker.name}}<span>, </span></a>
          and 32 other liked this <a href="" ng-show="feed.likes.length > 3">see more</a>
        </div>
      </div>
    </div>

    <div class="feed-comments">
      <div class="comments-more" ng-if="feed.comments.length>3">
        <a href="">More Comments</a>
      </div>
      <div class="feed-comment-item" ng-repeat="comment in feed.comments">
        <div class="comment-user-avatar">
          <a ui-sref="user({name: comment.creator.name})">
            <img ng-src="{{comment.creator.avatar}}" alt="" class="sf-img-rounded">
          </a>
        </div>
        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name" ui-sref="user({name: comment.creator.name})">{{comment.creator.name}}</a><span class="comment-time">{{comment.createdAt | sinceTime}}</span>
          </div>
          <div class="comment-words" ng-bind-html="comment.content">
          </div>
        </div>
      </div>
    <div class="feed-add-comment-wrap" sf-feed-add-comment feed="feed"></div>
    </div>
  </div>
</div>
