<div class="sf-feed feed-image masonry-brick">
  <div class="sf-feed-inner">
    <div class="feed-top">
      <div class="user-avatar">
        <img src="./images/user1.png" class="sf-img-circle feed-avatar">
      </div>
      <div class="user-other">
        <div class="user-name">
          <a href="">Nicholas</a>
        </div>
        <div class="feed-time-location">
          <span class="time">2 mins ago</span>
          <span class="location">
            <i class="fa fa-map-marker"></i>
            New York
          </span>
        </div>
      </div>
    </div>

    <div class="feed-content">
      <div class="feed-images">
        <div class="feed-image-container">
          <img src="./images/background.jpg" alt="">
        </div>
        <div class="feed-image-container">
          <img src="./images/auth-form-bg.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="feed-tags">
      <span class="tag-item">Image</span>
      <span class="tag-item">Selfie</span>
      <span class="tag-item">Mountain</span>
    </div>

    <div class="feed-actions">
      <div class="like-comment">
        <i class="fa fa-heart-o"></i><span class="feed-count like-count">123</span>
        <i class="fa fa-comment-o"></i><span class="feed-count comment-count">20</span>
      </div>

      <div class="like-users">
        <ul class="list-inline">
          <li class="like-user-item">
            <a><img src="./images/user1.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user2.jpeg" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user3.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/avatar-default.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="feed-comments">

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user1.png" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Michelle</a><span class="comment-time">10 mins ago</span>
          </div>
          <div class="comment-words">
            Sometimes i feel  i  just wanna be somebody s work...even for a day....﻿
          </div>
        </div>
      </div>

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user2.jpeg" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Peter</a><span class="comment-time">1 hour ago</span>
          </div>
          <div class="comment-words">
            <a href="">@Michelle</a> Yeah man, you got it :)
          </div>
        </div>
      </div>

      <div class="comments-more">
        <a href="">More Comments</a>
      </div>

    </div>

  </div>
</div>


<div class="sf-feed feed-text masonry-brick">
  <div class="sf-feed-inner">
    <div class="feed-top">
      <div class="user-avatar">
        <img src="./images/user1.png" class="sf-img-circle feed-avatar">
      </div>
      <div class="user-other">
        <div class="user-name">
          <a href="">Nicholas</a>
        </div>
        <div class="feed-time-location">
          <span class="time">2 mins ago</span>
          <span class="location">
            <i class="fa fa-map-marker"></i>
            New York
          </span>
        </div>
      </div>
    </div>

    <div class="feed-content">
      <div class="feed-text-words">
        Although I really wanted to try Sketch out, I didn’t want to get out of my comfort zone.
        And everyone at my job used Adobe Photoshop and Illustrator, so I told myself that I would try it out later.
      </div>
    </div>

    <div class="feed-tags">
      <span class="tag-item">Video</span>
      <span class="tag-item">Selfie</span>
      <span class="tag-item">Mountain</span>
    </div>

    <div class="feed-actions">
      <div class="like-comment">
        <i class="fa fa-heart-o"></i><span class="feed-count like-count">123</span>
        <i class="fa fa-comment-o"></i><span class="feed-count comment-count">20</span>
      </div>

      <div class="like-users">
        <ul class="list-inline">
          <li class="like-user-item">
            <a><img src="./images/user1.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user2.jpeg" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user3.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/avatar-default.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="feed-comments">

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user1.png" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Michelle</a><span class="comment-time">10 mins ago</span>
          </div>
          <div class="comment-words">
            Sometimes i feel  i  just wanna be somebody s work...even for a day....﻿
          </div>
        </div>
      </div>

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user2.jpeg" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Peter</a><span class="comment-time">1 hour ago</span>
          </div>
          <div class="comment-words">
            <a href="">@Michelle</a> Yeah man, you got it :)
          </div>
        </div>
      </div>

      <div class="comments-more">
        <a href="">More Comments</a>
      </div>

    </div>

  </div>
</div>



<div class="sf-feed feed-image masonry-brick">
  <div class="sf-feed-inner">
    <div class="feed-top">
      <div class="user-avatar">
        <img src="./images/user1.png" class="sf-img-circle feed-avatar">
      </div>
      <div class="user-other">
        <div class="user-name">
          <a href="">Nicholas</a>
        </div>
        <div class="feed-time-location">
          <span class="time">2 mins ago</span>
          <span class="location">
            <i class="fa fa-map-marker"></i>
            New York
          </span>
        </div>
      </div>
    </div>

    <div class="feed-content">
      <div class="feed-images">
        <div class="feed-image-container">
          <img src="./images/background.jpg" alt="">
        </div>
        <div class="feed-image-container">
          <img src="./images/auth-form-bg.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="feed-tags">
      <span class="tag-item">Image</span>
      <span class="tag-item">Selfie</span>
      <span class="tag-item">Mountain</span>
    </div>

    <div class="feed-actions">
      <div class="like-comment">
        <i class="fa fa-heart-o"></i><span class="feed-count like-count">123</span>
        <i class="fa fa-comment-o"></i><span class="feed-count comment-count">20</span>
      </div>

      <div class="like-users">
        <ul class="list-inline">
          <li class="like-user-item">
            <a><img src="./images/user1.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user2.jpeg" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user3.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/avatar-default.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="feed-comments">

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user1.png" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Michelle</a><span class="comment-time">10 mins ago</span>
          </div>
          <div class="comment-words">
            Sometimes i feel  i  just wanna be somebody s work...even for a day....﻿
          </div>
        </div>
      </div>

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user2.jpeg" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Peter</a><span class="comment-time">1 hour ago</span>
          </div>
          <div class="comment-words">
            <a href="">@Michelle</a> Yeah man, you got it :)
          </div>
        </div>
      </div>

      <div class="comments-more">
        <a href="">More Comments</a>
      </div>

    </div>

  </div>
</div>


<div class="sf-feed feed-video masonry-brick">
  <div class="sf-feed-inner">
    <div class="feed-top">
      <div class="user-avatar">
        <img src="./images/user1.png" class="sf-img-circle feed-avatar">
      </div>
      <div class="user-other">
        <div class="user-name">
          <a href="">Nicholas</a>
        </div>
        <div class="feed-time-location">
          <span class="time">2 mins ago</span>
          <span class="location">
            <i class="fa fa-map-marker"></i>
            New York
          </span>
        </div>
      </div>
    </div>

    <div class="feed-content">
      <div class="feed-video-container">
        <ng-cool-video source="ctrl.videoSource"></ng-cool-video>
      </div>
    </div>

    <div class="feed-tags">
      <span class="tag-item">Video</span>
      <span class="tag-item">Selfie</span>
      <span class="tag-item">Mountain</span>
    </div>

    <div class="feed-actions">
      <div class="like-comment">
        <i class="fa fa-heart-o"></i><span class="feed-count like-count">123</span>
        <i class="fa fa-comment-o"></i><span class="feed-count comment-count">20</span>
      </div>

      <div class="like-users">
        <ul class="list-inline">
          <li class="like-user-item">
            <a><img src="./images/user1.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user2.jpeg" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user3.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/avatar-default.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="feed-comments">

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user1.png" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Michelle</a><span class="comment-time">10 mins ago</span>
          </div>
          <div class="comment-words">
            Sometimes i feel  i  just wanna be somebody s work...even for a day....﻿
          </div>
        </div>
      </div>

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user2.jpeg" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Peter</a><span class="comment-time">1 hour ago</span>
          </div>
          <div class="comment-words">
            <a href="">@Michelle</a> Yeah man, you got it :)
          </div>
        </div>
      </div>

      <div class="comments-more">
        <a href="">More Comments</a>
      </div>

    </div>

  </div>
</div>

<div class="sf-feed feed-audio masonry-brick">
  <div class="sf-feed-inner">
    <div class="feed-top">
      <div class="user-avatar">
        <img src="./images/user1.png" class="sf-img-circle feed-avatar">
      </div>
      <div class="user-other">
        <div class="user-name">
          <a href="">Nicholas</a>
        </div>
        <div class="feed-time-location">
          <span class="time">2 mins ago</span>
          <span class="location">
            <i class="fa fa-map-marker"></i>
            New York
          </span>
        </div>
      </div>
    </div>

    <div class="feed-content">
      <div class="feed-text-words">
        Although I really wanted to try Sketch out, I didn’t want to get out of my comfort zone.
        And everyone at my job used Adobe Photoshop and Illustrator, so I told myself that I would try it out later.
      </div>
    </div>

    <div class="feed-tags">
      <span class="tag-item">Video</span>
      <span class="tag-item">Selfie</span>
      <span class="tag-item">Mountain</span>
    </div>

    <div class="feed-actions">
      <div class="like-comment">
        <i class="fa fa-heart-o"></i><span class="feed-count like-count">123</span>
        <i class="fa fa-comment-o"></i><span class="feed-count comment-count">20</span>
      </div>

      <div class="like-users">
        <ul class="list-inline">
          <li class="like-user-item">
            <a><img src="./images/user1.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user2.jpeg" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user3.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/avatar-default.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="feed-comments">

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user1.png" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Michelle</a><span class="comment-time">10 mins ago</span>
          </div>
          <div class="comment-words">
            Sometimes i feel  i  just wanna be somebody s work...even for a day....﻿
          </div>
        </div>
      </div>

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user2.jpeg" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Peter</a><span class="comment-time">1 hour ago</span>
          </div>
          <div class="comment-words">
            <a href="">@Michelle</a> Yeah man, you got it :)
          </div>
        </div>
      </div>

      <div class="comments-more">
        <a href="">More Comments</a>
      </div>

    </div>

  </div>
</div>



<div class="sf-feed feed-image masonry-brick">
  <div class="sf-feed-inner">
    <div class="feed-top">
      <div class="user-avatar">
        <img src="./images/user1.png" class="sf-img-circle feed-avatar">
      </div>
      <div class="user-other">
        <div class="user-name">
          <a href="">Nicholas</a>
        </div>
        <div class="feed-time-location">
          <span class="time">2 mins ago</span>
          <span class="location">
            <i class="fa fa-map-marker"></i>
            New York
          </span>
        </div>
      </div>
    </div>

    <div class="feed-content">
      <div class="feed-images">
        <div class="feed-image-container">
          <img src="./images/background.jpg" alt="">
        </div>
        <div class="feed-image-container">
          <img src="./images/auth-form-bg.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="feed-tags">
      <span class="tag-item">Image</span>
      <span class="tag-item">Selfie</span>
      <span class="tag-item">Mountain</span>
    </div>

    <div class="feed-actions">
      <div class="like-comment">
        <i class="fa fa-heart-o"></i><span class="feed-count like-count">123</span>
        <i class="fa fa-comment-o"></i><span class="feed-count comment-count">20</span>
      </div>

      <div class="like-users">
        <ul class="list-inline">
          <li class="like-user-item">
            <a><img src="./images/user1.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user2.jpeg" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/user3.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
          <li class="like-user-item">
            <a><img src="./images/avatar-default.png" alt="" class="sf-img-circle like-user-avatar"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="feed-comments">

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user1.png" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Michelle</a><span class="comment-time">10 mins ago</span>
          </div>
          <div class="comment-words">
            Sometimes i feel  i  just wanna be somebody s work...even for a day....﻿
          </div>
        </div>
      </div>

      <div class="feed-comment-item">

        <div class="comment-user-avatar">
          <a href=""><img src="./images/user2.jpeg" alt="" class="sf-img-circle"></a>
        </div>

        <div class="comment-content">
          <div class="top">
            <a class="comment-user-name">Peter</a><span class="comment-time">1 hour ago</span>
          </div>
          <div class="comment-words">
            <a href="">@Michelle</a> Yeah man, you got it :)
          </div>
        </div>
      </div>

      <div class="comments-more">
        <a href="">More Comments</a>
      </div>

    </div>

  </div>
</div>
