<div class="sf-feed-detail" sf-feed-detail>
  <div class="sf-overlay"></div>
  <div class="feed-detail-container">
    <div class="feed-detail-inner">
      <div class="feed-detail-content">
        <div class="feed-gallery" sf-feed-gallery feed="feed" current-image-index="{{current_image_index}}">
        </div>
      </div>
      <div class="feed-detail-intro">
        <div class="feed-intro-inner">
          <div class="feed-detail-close">
            <i class="ti-close" ng-click="closeFeedDetail()"></i>
          </div>
          <div class="feed-top">
            <div class="user-avatar">
              <img ng-src="{{feed.creator.avatar}}" class="img-rounded feed-avatar">
            </div>
            <div class="user-other">
              <div class="user-name">
                <a ui-sref="user({name: feed.creator.name})">{{feed.creator.name}}</a>
              </div>
              <div class="feed-time-location">
                <span class="time" ng-cool-tooltip="{{feed.createdAt | date: 'yyyy-MM-dd HH:mm'}}">
                  Shared on - {{feed.createdAt | sinceTime}}
                </span>
                <span class="location">
                  <i class="ti-location-pin"></i>
                  {{feed.location}}
                </span>
              </div>
            </div>
          </div>
          <div class="feed-detail-text-content" ng-if="feed.content">
            <div ng-bind-html="feed.content"></div>
          </div>

          <div class="feed-detail-likes">
            <div class="like-tip">Liked by: </div>
            <ul class="list-inline">
              <li class="like-item" ng-repeat="liker in feed.likes">
                <a ui-sref="user({name: liker.name})">
                  <img ng-src="{{liker.avatar}}" alt="avatar" class="img-responsive img-circle" ng-cool-tooltip="{{liker.name}}">
                </a>
              </li>
              <li class="like-item" ng-if="feed.likes.length > 6">
                <a href="" class="feed-likes-more">See More</a>
              </li>
            </ul>
          </div>
          <div class="feed-tags" ng-if="feed.tags && feed.tags.length> 0">
            <a class="tag-item" ng-repeat="tag in feed.tags">{{tag.text}}</a>
          </div>

          <div class="feed-detail-comments">
            <div class="feed-comment-item" ng-repeat="comment in feed.comments">

              <div class="comment-user-avatar">
                <a ui-sref="user({name: comment.creator.name})">
                  <img ng-src="{{comment.creator.avatar}}" alt="" class="img-responsive img-rounded">
                </a>
              </div>

              <div class="comment-content">
                <div class="top">
                  <a class="comment-user-name" ui-sref="user({name: comment.creator.name})">{{comment.creator.name}}</a>
                  <span class="comment-time">{{comment.createdAt | sinceTime}}</span>
                </div>
                <div class="comment-words" ng-bind-html="comment.content">
                </div>
              </div>
            </div>
          </div>

          <div class="fd-add-comment-wrap" feed="feed" users-at="usersAt" sf-feed-add-comment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
