<div class="sf-feed-detail" sf-feed-detail>
  <div class="sf-overlay"></div>
  <div class="feed-detail-container">
    <div class="feed-detail-inner">
      <div class="feed-detail-content">
        <div class="feed-gallery" sf-feed-gallery feed="feed" current-image-index="{{current_image_index}}">
        </div>
      </div>
      <div class="feed-detail-intro">
        <div class="feed-intro-inner">
          <div class="feed-detail-close">
            <i class="ti-close" ng-click="closeFeedDetail()"></i>
          </div>
          <div class="feed-top">
            <div class="user-avatar">
              <img ng-src="{{feed.creator.avatar}}" class="img-rounded feed-avatar">
            </div>
            <div class="user-other">
              <div class="user-name">
                <a ui-sref="user({name: feed.creator.name})">{{feed.creator.name}}</a>
              </div>
              <div class="feed-time-location">
                <span class="time" ng-cool-tooltip="{{feed.createdAt | date: 'yyyy-MM-dd HH:mm'}}">
                  <i class="ti-time"></i>{{feed.createdAt | sinceTime}}
                </span>
                <span class="location">
                  <i class="ti-location-pin"></i>
                  New York
                </span>
              </div>
            </div>
          </div>
          <div class="feed-detail-text-content" ng-if="feed.content">
            <div ng-bind-html="feed.content"></div>
          </div>
          <div class="feed-detail-likes">
            <div class="like-button">
              <button class="sf-btn sf-btn-default">+{{feed.likes.length}}</button>
            </div>
            <div class="feed-detail-likes-tip" ng-if="feed.likes.length>0">
              <p>
                <a ng-repeat="liker in feed.likes" ui-sref="user({name: liker.name})">{{liker.name}}</a>
                <span ng-if="feed.likes.length>5"> and others like this</span>
                <span ng-if="feed.likes.length<=5"> like this</span>
                <a class="feed-likes-more">see more</a>
              </p>
            </div>
          </div>

          <div class="feed-detail-comments">
            <div class="feed-comment-item" ng-repeat="comment in feed.comments">

              <div class="comment-user-avatar">
                <a ui-sref="user({name: comment.creator.name})">
                  <img ng-src="{{comment.creator.avatar}}" alt="" class="img-responsive img-rounded">
                </a>
              </div>

              <div class="comment-content">
                <div class="top">
                  <a class="comment-user-name" ui-sref="user({name: comment.creator.name})">{{comment.creator.name}}</a>
                  <span class="comment-time">{{comment.createdAt | sinceTime}}</span>
                </div>
                <div class="comment-words" ng-bind-html="comment.content">
                </div>
              </div>
            </div>
          </div>

          <div class="fd-add-comment-wrap" feed="feed" sf-feed-add-comment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
