<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Friendfies</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="explore">Explore</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="messages">Messages
            <span class="badge noti-badge">{{ctrl.current_user.notifications.length}}</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-action-item">
          <a class="navbar-action-link"><i class="ti-search"></i></a>
        </li>
        <li class="navbar-action-item">
          <a class="navbar-action-link" sf-create-feed current-user="ctrl.current_user" users-at="ctrl.usersAt"><i class="ti-pencil-alt"></i></a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle navbar-user-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">
            <img ng-src="{{ctrl.current_user.avatar}}" alt="" class="img-responsive img-circle">
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-arrow user-arrow"></li>
            <li><a ui-sref="user({name: ctrl.current_user.name})">{{ctrl.current_user.name}}</a></li>
            <li><a ui-sref="setting">settings</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li sf-logout></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
