<nav class="st-navbar">
  <div class="st-navbar-inner">
    <div class="st-navbar-brand">
      <a ui-sref="home" class="brand-link">
        Friendfies
      </a>
    </div>
    <div class="st-navbar-item st-navbar-left">
      <ul class="list-inline">
        <li class="navbar-link-item" ui-sref-active="active">
          <a ui-sref="home">HOME</a>
        </li>
        <li class="navbar-link-item" ui-sref-active="active">
          <a ui-sref="explore">EXPLORE</a>
        </li>
        <li class="navbar-link-item" ui-sref-active="active">
          <a ui-sref="messages">MESSAGES <span class="badge sf-badge">5</span></a>
        </li>
      </ul>
    </div>
    <div class="st-navbar-item st-navbar-right none-authticated" ng-if="!ctrl.isAuthticated">
      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
      <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="welcome" sketch:type="MSArtboardGroup" transform="translate(-1197.000000, -68.000000)" fill="#FF5252">
                  <g id="navbar" sketch:type="MSLayerGroup" transform="translate(100.000000, 63.000000)">
                      <g id="person" transform="translate(1097.000000, 5.000000)" sketch:type="MSShapeGroup">
                          <path d="M6,6 C7.65,6 9,4.65 9,3 C9,1.35 7.65,0 6,0 C4.35,0 3,1.35 3,3 C3,4.65 4.35,6 6,6 L6,6 Z M6,7.5 C3.975,7.5 0,8.475 0,10.5 L0,12 L12,12 L12,10.5 C12,8.475 8.025,7.5 6,7.5 L6,7.5 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
      <a ui-sref="signup">Sign Up</a>
      <span> / </span>
      <a ui-sref="login">Login</a>
    </div>

    <div class="st-navbar-item st-navbar-right authticated" ng-if="ctrl.isAuthticated">
      <ul class="list-inline navbar-action-list">
        <li class="navbar-action-item">
          <a ui-sref="search">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="welcome" sketch:type="MSArtboardGroup" transform="translate(-1207.000000, -163.000000)" fill-opacity="0.801375679" fill="#4A4A4A">
                        <g id="navbar-2" sketch:type="MSLayerGroup" transform="translate(57.000000, 142.000000)">
                            <g id="Group-+-Oval-3-+-search-+-Oval-5-+-exit-to-app-+-Oval-4" sketch:type="MSShapeGroup">
                                <g id="Oval-3-+-search-+-Oval-5-+-exit-to-app-+-Oval-4" transform="translate(1141.000000, 12.000000)">
                                    <g id="search-+-Oval-5">
                                        <g id="search" transform="translate(9.000000, 9.000000)">
                                            <path d="M12.5,11 L11.7,11 L11.4,10.7 C12.4,9.6 13,8.1 13,6.5 C13,2.9 10.1,0 6.5,0 C2.9,0 0,2.9 0,6.5 C0,10.1 2.9,13 6.5,13 C8.1,13 9.6,12.4 10.7,11.4 L11,11.7 L11,12.5 L16,17.5 L17.5,16 L12.5,11 L12.5,11 Z M6.5,11 C4,11 2,9 2,6.5 C2,4 4,2 6.5,2 C9,2 11,4 11,6.5 C11,9 9,11 6.5,11 L6.5,11 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
        </li>
        <li class="navbar-action-item">
          <a sf-create-feed>
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="welcome" sketch:type="MSArtboardGroup" transform="translate(-1254.000000, -163.000000)" fill-opacity="0.797129755" fill="#4A4A4A">
                        <g id="navbar-2" sketch:type="MSLayerGroup" transform="translate(57.000000, 142.000000)">
                            <g id="Group-+-Oval-3-+-search-+-Oval-5-+-exit-to-app-+-Oval-4" sketch:type="MSShapeGroup">
                                <g id="Oval-3-+-search-+-Oval-5-+-exit-to-app-+-Oval-4" transform="translate(1141.000000, 12.000000)">
                                    <g id="exit-to-app-+-Oval-4" transform="translate(47.000000, 0.000000)">
                                        <g id="exit-to-app" transform="translate(17.350000, 16.650000) rotate(-90.000000) translate(-17.350000, -16.650000) translate(9.350000, 8.650000)">
                                            <path d="M6.035,10.71 L7.225,11.9 L11.475,7.65 L7.225,3.4 L6.035,4.59 L8.245,6.8 L-7.10542736e-15,6.8 L-7.10542736e-15,8.5 L8.245,8.5 L6.035,10.71 L6.035,10.71 Z M13.6,-9.23705556e-14 L1.7,-9.23705556e-14 C0.765,-9.23705556e-14 -7.10542736e-15,0.765 -7.10542736e-15,1.7 L-7.10542736e-15,5.1 L1.7,5.1 L1.7,1.7 L13.6,1.7 L13.6,13.6 L1.7,13.6 L1.7,10.2 L-7.10542736e-15,10.2 L-7.10542736e-15,13.6 C-7.10542736e-15,14.535 0.765,15.3 1.7,15.3 L13.6,15.3 C14.535,15.3 15.3,14.535 15.3,13.6 L15.3,1.7 C15.3,0.765 14.535,-9.23705556e-14 13.6,-9.23705556e-14 L13.6,-9.23705556e-14 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
        </li>
        <li class="navbar-action-item">
          <a href="">
            <img src="./images/avatar-default.png" class="sf-img-circle navbar-dropdown-img">
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
