<div class="sf-card user-card">
  <div class="card-top">
    <div class="user-avatar">
      <img src="images/avatar-default.png" alt="Avatar" class="img-responsive img-circle">
    </div>
    <div class="user-link">
      <a ui-sref="user({name: 'Nicholas'})">Nicholas</a>
    </div>
    <div class="user-other">
      <i class="fa fa-user"></i><span>Male</span>
      <i class="fa fa-map-marker"></i><span>Shanghai</span>
    </div>
    <div class="user-profile">
      I have struggled to articulate what he is actually like as a candidate
      ever since I left Iowa last weekend.
    </div>
    <ul class="list-inline user-info-list">
      <li class="info-item">
        <a href="">
          <div class="info-item-title">Posts</div>
          <div class="info-item-count">123</div>
        </a>
      </li>
      <li class="info-item">
        <a href="">
          <div class="info-item-title">Followers</div>
          <div class="info-item-count">123</div>
        </a>
      </li>
      <li class="info-item">
        <a href="">
          <div class="info-item-title">Followees</div>
          <div class="info-item-count">123</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="recent-photo-title">
    Recent Photos
  </div>
  <div class="photos-wrap">
    <div class="photo-item" photo-display>
      <img src="images/avatar-default.png" alt="" class="img-responsive">
      <img src="images/avatar-default.png" alt="" class="img-responsive">
      <img src="images/avatar-default.png" alt="" class="img-responsive">
    </div>
    <div class="photo-item" photo-display>
      <img src="images/avatar-default.png" alt="" class="img-responsive">
      <img src="images/avatar-default.png" alt="" class="img-responsive">
      <img src="images/avatar-default.png" alt="" class="img-responsive">
    </div>
    <div class="photo-item" photo-display>
      <img src="images/avatar-default.png" alt="" class="img-responsive">
      <img src="images/avatar-default.png" alt="" class="img-responsive">
      <img src="images/avatar-default.png" alt="" class="img-responsive">
    </div>
  </div>
</div>